name: Send Email

on:
  workflow_dispatch:
  schedule:
    # Runs at 1 PM UTC (5 AM California Time, during Standard Time)
    - cron: '0 13 * * *'

jobs:
  send_email:
    runs-on: ubuntu-latest
    
# Set environment variables at the job level
    env:
      GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
      GMAIL_OAUTH_GPG: ${{ secrets.GMAIL_OAUTH_GPG }}
      
    steps:
      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Install packages
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages: |
            any::dplyr
            any::readr
            any::lubridate
            any::gmailr
            any::gpg

      - name: Check out repository
        uses: actions/checkout@v3

      - name: Decrypt GPG passphrase
        run: |
          echo "$GPG_PASSPHRASE" > gpg_passphrase.txt
          gpg --batch --yes --passphrase-file gpg_passphrase.txt --output decrypted_oauth.json --decrypt $GMAIL_OAUTH_GPG

      - name: Run ftn_data script
        run: Rscript -e 'source("R/monicas_messages.R")'
