name: Send Email

on:
  workflow_dispatch:
  schedule:
    - cron: '0 13 * * *'

jobs:
  create_and_commit_image:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - name: Install packages
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages: |
            any::dplyr
            any::readr
            any::lubridate
            any::ggplot2
            any::gggibbous

      - name: Create moon image
        run: Rscript -e 'source("R/Create Moon Image.R")'

      - name: Commit moon image
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add Images/moon_phase.png
          git commit -m 'Update moon phase image' || echo "No changes to commit"
          git push origin || echo "No changes to commit"

  send_email:
    runs-on: ubuntu-latest
    needs: create_and_commit_image
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - name: Install packages
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages: |
            any::dplyr
            any::readr
            any::lubridate
            any::glue

      - name: Run R Script and Capture Email Content
        run: Rscript -e 'source("R/monicas_messages.R")'

      - name: Read Subject and Body
        id: read_email_content
        run: |
          echo "email_subject=$(< email_subject.txt)" >> $GITHUB_OUTPUT
          echo "email_body=$(< email_body.txt)" >> $GITHUB_OUTPUT

      - name: Send Email
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          secure: true
          username: hefnerjoseph87@gmail.com
          password: ${{ secrets.SMTP_PASSWORD }}
          subject: ${{ steps.read_email_content.outputs.email_subject }}
          to: hefnerjoseph87@gmail.com
          from: hefnerjoseph87@gmail.com
          html_body: file://email_body.txt
