name: Send Email

on:
  workflow_dispatch:
  schedule:
    - cron: '0 13 * * *'

jobs:
  send_email:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - name: Install packages
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages: |
            any::dplyr
            any::readr
            any::lubridate
            any::glue

      - name: Run R Script and Capture Email Content
        run: Rscript -e 'source("R/email_message.R")'

      - name: Read Subject and Body
        id: read_email_content
        run: |
          echo "email_subject=$(< email_subject.txt)" >> $GITHUB_OUTPUT
          echo "email_body=$(< email_body.txt)" >> $GITHUB_OUTPUT

      - name: Send Email
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          secure: true
          username: ${{ secrets.EMAIL_FROM }}
          password: ${{ secrets.SMTP_PASSWORD }}
          subject: ${{ steps.read_email_content.outputs.email_subject }}
          to: ${{ secrets.EMAIL_TO }}
          from: ${{ secrets.EMAIL_FROM }}
          html_body: file://email_body.txt
