name: Test Email

on:
  workflow_dispatch:
  schedule:
    - cron: '0 13 * * *'

jobs:
  send_email:
    runs-on: ubuntu-latest

    steps:
      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - name: Install packages
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages: |
            any::dplyr
            any::readr
            any::lubridate

      - name: Check out repository
        uses: actions/checkout@v3

      - name: Run R Script and Capture Email Variables
        id: get_email_content
        run: |
          Rscript -e 'source("R/monicas_messages.R"); cat(paste0("::set-output name=subject::", em_subject, "\n"))'
          Rscript -e 'cat(paste0("::set-output name=body::", message, "\n"))'

      - name: Send Email
        uses: hilarion5/send-mail@v1
        with:
          smtp-server: smtp.gmail.com
          smtp-port: 465
          smtp-secure: true
          from-email: hefnerjoseph87@gmail.com
          to-email: hefnerjoseph87@gmail.com
          username: hefnerjoseph87@gmail.com
          password: ${{ secrets.SMTP_PASSWORD }}
          subject: ${{ steps.get_email_content.outputs.subject }}
          body: ${{ steps.get_email_content.outputs.body }}
          html: |
            <p>${{ steps.get_email_content.outputs.body }}</p>
