name: Test Email

on:
  workflow_dispatch:
  schedule:
    - cron: '0 13 * * *'

jobs:
  send_email:
    runs-on: ubuntu-latest

    steps:
      - name: Send Email
        uses: hilarion5/send-mail@v1
        with:
          smtp-server: smtp.gmail.com
          smtp-port: 587
          smtp-secure: true
          from-email: hefnerjoseph87@gmail.com
          to-email: hefnerjoseph87@gmail.com
          username: hefnerjoseph87@gmail.com
          password: "jmre fzfq fnfx hdeh"
          subject: Test Email
          body: This is a test email sent from GitHub Actions.
          html: |
            <h1>This is a test email</h1>
            <p>Test Paragraph</p>
